@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark --prefersdark;
}

html, body {
    font-family: "IBM Plex Mono", monospace;
}

h1 {
    font-family: "Press Start 2P", monospace;
    text-decoration: underline;
}
