---
type CardContainerProps = {
    cardContainerSize?: "xs" | "sm" | "md" | "lg" | "xl";
    cardContainerClass?: string;
}

const {
    cardContainerSize = "xs",
    cardContainerClass = "",
}: CardContainerProps = Astro.props;
---

<div class={`card 
    ${cardContainerSize === "xs" ? "card-xs" : ""}
    ${cardContainerSize === "sm" ? "card-sm" : ""}
    ${cardContainerSize === "md" ? "card-md" : ""}
    ${cardContainerSize === "lg" ? "card-lg" : ""}
    ${cardContainerSize === "xl" ? "card-xl" : ""}  
    ${cardContainerClass}
`}>
    <slot />
</div>