---
type CardBodyProps = {
    cardBodyTitle?: string;
    cardBodyClass?: string;
    cardBodyTitleClass?: string;
    cardBodyChildrenClass?: string;
};

const {
    cardBodyTitle = "",
    cardBodyClass = "",
    cardBodyTitleClass = "",
    cardBodyChildrenClass = "",
}: CardBodyProps = Astro.props;
---

<div class={`card-body ${cardBodyClass}`}>
    <p class={`card-title ${cardBodyTitleClass}`}>{cardBodyTitle}</p>
    <div class={`flex ${cardBodyChildrenClass}`}>
        <slot />
    </div>
</div>