---
type CardContainerProps = {
    cardContainerSize?: "xs" | "sm" | "md" | "lg" | "xl";
    cardContainerBorder?: boolean;
    cardContainerDash?: boolean;
    cardContainerClass?: string;
}

const {
    cardContainerSize = "xs",
    cardContainerBorder = false,
    cardContainerDash = false,
    cardContainerClass = "",
}: CardContainerProps = Astro.props;
---

<div class={`card 
    ${cardContainerSize === "xs" ? "card-xs" : ""}
    ${cardContainerSize === "sm" ? "card-sm" : ""}
    ${cardContainerSize === "md" ? "card-md" : ""}
    ${cardContainerSize === "lg" ? "card-lg" : ""}
    ${cardContainerSize === "xl" ? "card-xl" : ""}
    ${cardContainerBorder ? "card-border" : ""} 
    ${cardContainerDash ? "card-dash" : ""} 
    ${cardContainerClass}
`}>
    <slot />
</div>