---
type CardContainerProps = {
  cardContainerSize?: "xs" | "sm" | "md" | "lg" | "xl";
  cardContainerClass?: string;
  cardContainerImg?: string;
  cardContainerImgAlt?: string;
};

const {
  cardContainerSize = "xs",
  cardContainerClass = "",
  cardContainerImg = "",
  cardContainerImgAlt = "",
}: CardContainerProps = Astro.props;
---

<div
  class={`card 
    ${cardContainerSize === "xs" ? "card-xs" : ""}
    ${cardContainerSize === "sm" ? "card-sm" : ""}
    ${cardContainerSize === "md" ? "card-md" : ""}
    ${cardContainerSize === "lg" ? "card-lg" : ""}
    ${cardContainerSize === "xl" ? "card-xl" : ""}  
    ${cardContainerClass}
`}
>
  <figure class="p-3">
    <div class="aspect-video overflow-hidden rounded-lg">
      <img
        class="w-full h-full object-cover"
        src={cardContainerImg}
        alt={cardContainerImgAlt}
      />
    </div>
  </figure>
  <slot />
</div>
