---
import Badge from "@components/Badge.astro";
import CardContainer from "@/components/Cards/CardContainer.astro";
import CardBody from "@/components/Cards/CardBody.astro";
import { Icon } from "astro-icon/components";
import { SKILL_ICONS } from "@/types/SkillsMap";

type CardSkillProps = {
    cardSkillTitle?: string;
    cardSkillItem?: string[];
}

const {
    cardSkillTitle = "",
    cardSkillItem = [],
}: CardSkillProps = Astro.props;
---

<CardContainer
    cardContainerSize="xs"
    cardContainerClass="px-0"
>
    <CardBody
        cardBodyChildrenClass={"flex-wrap gap-2 items-center"}
        cardBodyTitleClass={"text-md"}
        cardBodyTitle={`${cardSkillTitle}`}
    >
    {cardSkillItem.map((skillsArray) => {
        const iconName = SKILL_ICONS[skillsArray];

        return iconName ? (
            <div class="tooltip" data-tip={skillsArray}>
                <Icon name={iconName} class={"w-8 h-8"} />
            </div>
        ) : (
            <Badge badgeText={skillsArray} badgeSize="sm" badgeClass="" />
        );
    })}
    </CardBody>
</CardContainer>
