---
import Layout from "@/layouts/Layout.astro";
import About from "@/sections/About.astro";
import Hero from "@/sections/Hero.astro";
import Skills from "@/sections/Skills.astro";
import WorkExperience from "@/sections/WorkExperience.astro";
import Projects from "@/sections/Projects.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main class="min-w-screen flex items-center outline-solid justify-center">
		<div class="max-w-2xl w-full py-20 space-y-10">
			<Hero />
			<About />
			<Skills />
			<WorkExperience />
			<Projects />
		</div>
	</main>
</Layout>
