---
import CardBody from "@/components/Cards/CardBody.astro";
import CardContainer from "@/components/Cards/CardContainer.astro";
import Layout from "@/layouts/Layout.astro";
import projects from "@/types/projectsData.json";

var projectsCount = projects.length;
---

<Layout title="Projects | Raynhard Anthony Yray">
  <div class="flex flex-col gap-3 space-y-3">
    <div>
      <h1 class="text-2xl">Projects[{projectsCount}]</h1>
      <p>(work in progress)</p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
      {
        projects.map((project) => (
          <CardContainer
            cardContainerSize="md"
            cardContainerImg={project.image}
            cardContainerClass="border border-transparent hover:border-[#d2dee4] "
          >
            <CardBody cardBodyTitle={project.title}>
              {project.description}
              <div />
            </CardBody>
          </CardContainer>
        ))
      }
    </div>
  </div>
</Layout>
