---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Projects | Raynhard Anthony Yray">
  <div class="flex flex-col gap-3 space-y-3">
    <div>
      <h1 class="text-2xl">projects</h1>
      <p>wow. such empty (work in progress)</p>
    </div>
  </div>
</Layout>
