---
import { Icon } from "astro-icon/components";

type AboutListProps = {
    iconName?: string;
    label?: string;
    isLink?: boolean;
    href?: string;
    target?: boolean;
};

const {
    iconName = "",
    label = "",
    isLink = false,
    href = undefined,
    target = false,
}: AboutListProps = Astro.props
---
<div class="flex gap-2">
    <Icon name={iconName} class="w-6 h-6 shrink-0" />
    {isLink ? (
        <a
            href={href}
            target = {target ? "_blank" : undefined}
            rel={target ? "noopener noreferrer" : undefined}
            class="text-sm underline underline-offset-5 break-all"
        >{label}</a>
    ) : (
        <p class="text-sm">{label}</p>
    )}
</div>