---
type BadgeProps = {
    badgeText?: string;
    badgeSize?: "xs" | "sm" | "md" | "lg" | "xl";
    badgeStyle?: "solid" | "outline" | "dash" | "soft" | "ghost";
    badgeColor?: "primary" | "secondary" | "neutral" | "accent" | "info" | "success" | "warning" | "error"
    badgeClass?: string;
}

const {
    badgeText = "",
    badgeSize = "md",
    badgeStyle = "solid",
    badgeColor = "neutral",
    badgeClass = "",
}: BadgeProps = Astro.props
---

<div class={`badge 
    ${badgeSize === "xs" ? "badge-xs" : ""}
    ${badgeSize === "sm" ? "badge-sm" : ""}
    ${badgeSize === "md" ? "badge-md" : ""}
    ${badgeSize === "lg" ? "badge-lg" : ""}
    ${badgeSize === "xl" ? "badge-xl" : ""}
    ${badgeStyle === "solid" ? "badge-solid" : ""}
    ${badgeStyle === "outline" ? "badge-outline" : ""}
    ${badgeStyle === "dash" ? "badge-dash" : ""}
    ${badgeStyle === "soft" ? "badge-soft" : ""}
    ${badgeStyle === "ghost" ? "badge-ghost" : ""}
    ${badgeColor === "primary" ? "badge-primary" : ""}
    ${badgeColor === "secondary" ? "badge-secondary" : ""}
    ${badgeColor === "neutral" ? "badge-neutral" : ""}
    ${badgeColor === "accent" ? "badge-accent" : ""}
    ${badgeColor === "info" ? "badge-info" : ""}
    ${badgeColor === "success" ? "badge-success" : ""}
    ${badgeColor === "warning" ? "badge-warning" : ""}
    ${badgeColor === "error" ? "badge-error" : ""}
    ${badgeClass}`}>{badgeText}</div>