---
import { Icon } from 'astro-icon/components';
---
<div class="flex flex-col space-y-2">
    <h1 class="text-xl font-bold">About</h1>
    
    <div class="flex flex-col">
        <div class="flex gap-2">
            <Icon name="location" class="w-8 h-8 shrink-0" />
            <p class="text-xl">Cagayan de Oro, Philippines</p>
        </div>

        <div class="flex gap-2">
            <Icon name="email" class="w-8 h-8 shrink-0" />
            <a href="mailto:raynhardanthonyyray2001@gmail.com" class="text-xl">raynhardanthonyyray2001@gmail.com</a>
        </div>

        <div class="flex gap-2">
            <Icon name="github" class="w-8 h-8 shrink-0" />
            <a href="https://github.com/Rayn-hard" target="_blank" rel="noopener noreferrer" class="text-xl underline underline-offset-5">GitHub</a>
        </div>

        <div class="flex gap-2">
            <Icon name="linkedin" class="w-8 h-8 shrink-0" />
            <a href="https://www.linkedin.com/in/raynhard-anthony-yray-44658b27a/" target="_blank" rel="noopener noreferrer" class="text-xl underline underline-offset-5">LinkedIn</a>
        </div>

        <div class="flex gap-2">
            <Icon name="resume" class="w-8 h-8 shrink-0" />
            <a href="/resume.pdf" download="/resume.pdf" target="_blank" rel="noopener noreferrer" class="text-xl underline underline-offset-5">Resume(Download)</a>
        </div>

    </div>
</div>