---
import Dock from "@/sections/Dock.astro";
import NavPages from "@/components/NavPages.astro";
---

<header>
  <div
    class="p-5 justify-between items-center max-w-5xl mx-auto hidden sm:flex"
  >
    <h1>Raynhard Anthony Yray</h1>
    <NavPages />
  </div>
</header>

<Dock />
