---
import Dock from "./Dock.astro";
---

<header>
  <div
    class="p-5 justify-between items-center max-w-4xl mx-auto hidden sm:flex"
  >
    <h2>Raynhard Anthony Yray</h2>
    <nav class="flex gap-3 items-center">
      <a href="/" class="text-xl">/home</a>
      <a href="/about/" class="text-xl">/about</a>
      <a href="/projects/" class="text-xl">/projects</a>
    </nav>
  </div>
</header>

<Dock />
