---
import { Picture } from "astro:assets";
import profilePicture from "@images/photo.jpeg";
---
<section id="hero">
	<div class="flex flex-col sm:flex-row gap-3">
		<Picture src={profilePicture} alt={"Raynhard Anthony Yray"} width="130" height="130" loading="eager" class="mx-auto rounded-full border-4" />

		<div class="flex flex-col gap-3 my-auto">
			<h1 class="text-xl font-bold">Raynhard Anthony Yray</h1>
			<p class="text-l">programmer, photo & video editor, network admin</p>
		</div>
	</div>
</section>