---
import { Picture } from "astro:assets";
import profilePicture from "@images/photo.jpeg";
import TypedText from "@/components/TypedText.astro";
---
<section id="hero">
	<div class="flex flex-col sm:flex-row gap-3">
		<Picture src={profilePicture} alt={"Raynhard Anthony Yray"} width="130" height="130" loading="eager" class="mx-auto rounded-full border-4" />

		<div class="flex flex-col gap-2 my-auto">
			<h1 class="text-xl font-bold">Raynhard Anthony Yray</h1>
		
			<div>
				<TypedText
					strings={[
						"Full Stack Developer",
						"Photo Editor", 
						"Video Editor", 
						"Network Admin",
						"Tech Enthusiast"
					]}
					speed={40}
					loop={true}
					className="text-lg"
				/>
			</div>
		</div>
	</div>
</section>