<section id="projects">
    <div class="flex flex-col border-b-3">
        <h1 class="text-xl font-bold">Projects</h1>
        
        <div class="text-justify text-2xl">
        </div>
    </div>
</section>