---
import CardSkill from "@/components/Cards/CardSkill.astro";
import { FrontEndSkills, ProgrammingSkills } from "@/types/BadgeEnums";

const programmingSkillArray = Object.values(ProgrammingSkills);
const frontendSkillArray = Object.values(FrontEndSkills);
---

<div class="flex flex-col min-h-screen outline-solid gap-3">
    <h1 class="text-xl font-bold">Skills</h1>

    <CardSkill
      cardSkillTitle="Programming Languages"
      cardSkillItem={programmingSkillArray}
    />

    <CardSkill 
      cardSkillTitle="Frontend Development"
      cardSkillItem={frontendSkillArray}
    />
</div>