---
import CardExperience from "@/components/Cards/CardExperience.astro";
---
<section id="experience">
  <div class="flex flex-col space-y-2">
    <h1 class="text-md font-bold">Work</h1>
    
    <CardExperience />
  </div>
</section>